body {
    /* background-color: black; */
    margin: 0%;
    overflow-x: hidden;
}

/* On mobile */
@media screen and (max-width: 600px) {
    body::-webkit-scrollbar {
        display: none;
    }
}

@media screen and (max-width: 600px) {
    #mob-space {
        display: block;
    }
}

@media screen and (min-width: 601px) {
    #mob-space {
        display: none;
    }
}


.front {
    background-image: url(images/studiofinish.png);
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
    background-position-y: 57%; /* front background image y positioning */
}

.frontoverlay {
    /* background-color: rgba(128, 128, 128, 0.3); */

    background-image: linear-gradient(rgba(255, 255, 255, 0.5), rgba(0, 0, 0, 0.7)); /* Gradient */
}



header {
    font-family: "Roboto", serif;
    font-weight: lighter;
    font-size: 40px;
    padding-top: 140px;
    padding-bottom: 30px;
    text-align: center;
    color: white;
    /* background-color: black; */
    
}

#when {
    margin-top: 0;
    padding-top: 0px;
    font-weight: lighter;
    float: left;
    margin-left: 25%;
    color: hsla(0, 0%, 100%, 0.658);
}

#where {
    margin-top: 0;
    font-weight: lighter;
    color: hsla(0, 0%, 100%, 0.658);
}

/* navbar */

.navbar {
    border-bottom: solid #ffffff;
    border-width: calc(1px + .01vw);
    border-spacing: 5px;
    width: 90%;
    margin-left: 5%;
}

/* mobile */
@media screen and (max-width: 600px) {
    
    .navbar {
        border-bottom: solid #ffffff;
        border-width: calc(1px + .01vw);
        border-spacing: 5px;
        width: 100%;
        margin-left: 0%;
    }

}

.navbar ul{
    overflow: hidden;
    list-style: none;
    background-color: none;
    padding: 20px 20px;
    margin: 0px;
    font-family: "Roboto", serif;
    font-size: 20px;
}

/* mobile */
@media screen and (max-width: 600px) {
    .navbar ul{
        overflow: hidden;
        list-style: none;
        background-color: none;
        padding: 20px 20px;
        margin: 0px;
        font-family: "Roboto", serif;
        font-size: 13px;
    }
}

.navbar a{
    color: white;
    text-decoration: none;
    padding: 5px;
    display: block;
    text-align: center;
    border-radius: 10px;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.6);
    transition-duration: 0.4s;
}

.navbar a:hover{
    text-decoration: underline;
}

.navbar li{
    float: right;
}

.sf-nav {
    /* display: inline; */
    overflow: hidden;
    list-style: none;
    padding: 20px 20px;
    margin: 0px;
    color: white;
}

#sf-li {
    float: left;
}

.sect {
    background-color: white;
    background-size: cover;
    height: 30rem;
}

@media screen and (max-width: 600px) {
    .sect {
        height: 28rem;
    }    
}

.resc-head {
    font-family: "Roboto", serif;
    font-weight: lighter;
    /* font-size: 30px; */
    text-align: center;
}

.resc-head h1 {
    margin-bottom: 1%;
    font-size: 6vh;
}

@media screen and (max-width: 600px){
    .resc-head h1 {
        margin-top: 0%;
    }   
}

.resc-head h4 {
    margin-top: 0%;
    margin-bottom: 3%;
    font-size: 3vh;
}

.resc-head p {
    margin-bottom: -1%;
}

.resc-head ul {
    text-align: justify;
    list-style-position: inside;
    margin-left: 18%;
}

.desktop {
    font-size: 4vh;
}

@media screen and (min-width: 601px) {

    .desktop{
        display: block;
    }

    .mobile {
        display: none;
    }
}

/* mobile view */
@media screen and (max-width: 600px) {
    .info {
        font-size: 3vh;
    }

    .resc-head ul {
        margin-left: 0%;
    }

    .mobile {
        display: block;
        font-size: 3vh;
    }

    .desktop {
        display: none;
    }
}